4.0 v
[] It should have a function to toggle a todo

3.0 v
[x] We should initialize the todos var with objects 
[x] The add function should add objects  
[x] The edit function should edit objects

2.0 v
[x] It should have a function to add a todo
[x] It should have a function to edit a todo
[x] It should have a function to remove a todo

1.0 v
[x] It should have a place to store todos
[x]                a way to display todos
[x]                      to add a todo
[x]                      to edit a todo
[x]                      to remove a todos