1.12v 
[x] Each todo should have its own edit button
[x] The edit buttons should actually work
[x] If someone hits cancel we should nothing
[x] If someone hits ok and the field is empty we should nothing

1.11 v
[x] Add toggle button each item list 
[x] make the toggle button change status of the element

1.10 v
[x] Create a remove button with the list
[x] Make the remove button work

1.09 v
[x] There should be a li for each todo
[x] Each li should show the todoText property
[x] Each li should show the compelted property


1.08 v
[x] Should be working button for adding a todo
[x] Should be working button for editing a todo
[x] Should be working button for removing a todo
[x] Should be working button for toggling a todo

1.07 v
[x] Should have a displayingTodos button
[x] The displayTodos button should run the displayTodos function 

1.06 v
[x] It should hav a function to toggle all todos
[x] If everything is false ==> change everything to true
[x] If everything is true ==> change everything to false
[x] If mixed ==> change everything to true

1.05 v
[x] It should have a function that displays todos
[x] displayTodos should show the todoText property
[x] displayTodos should show the compelted property

1.04 v
[x] It should have a function to toggle a todo

1.03 v
[x] We should initialize the todos var with objects 
[x] The add function should add objects  
[x] The edit function should edit objects

1.02 v
[x] It should have a function to add a todo
[x] It should have a function to edit a todo
[x] It should have a function to remove a todo

1.01 v
[x] It should have a place to store todos
[x]                a way to display todos
[x]                      to add a todo
[x]                      to edit a todo
[x]                      to remove a todos